[submodule "pii-pattern-engine"]
	path = pii-pattern-engine
	url = https://github.com/zafrem/pii-pattern-engine.git
[submodule "pii-engine"]
	path = pii-engine
	url = https://github.com/zafrem/privyscope.git
